<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bartholomew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bartholomew.Properties.Settings>
            <setting name="bYear" serializeAs="String">
                <value>2022</value>
            </setting>
            <setting name="bMonth" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="bDay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bTime" serializeAs="String">
                <value>10:00</value>
            </setting>
            <setting name="bName" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bFTPHost" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="bUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="bSavedBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFTPAdult" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPChild" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="bBackupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="bFTPFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="bPin" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="bLocalFolder" serializeAs="String">
                <value>C:\Users\ashcr</value>
            </setting>
            <setting name="bSavedLocationFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="bSavedType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bSavedLocationLocal" serializeAs="String">
                <value />
            </setting>
            <setting name="bBackupLocations" serializeAs="String">
                <value>,,,,,,,</value>
            </setting>
            <setting name="bQuestionChoice" serializeAs="String">
                <value>0</value>
            </setting>
        </Bartholomew.Properties.Settings>
    </userSettings>
</configuration>